@tailwind base;
/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--skyblue) var(--blue1);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: var(--skyblue);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--blue1);
	border-radius: 14px;
	border: 3px solid var(--skyblue);
}

@tailwind components;
@tailwind utilities;

html {
	--blue1: #bbdefb;
	--blue2: #a2d6f9;
	--blue3: #cae5ff;
	--beige: #f5ebe0;
	--whiteGray: #e3f2fd;
	--blue: #2b73b3;
	--slate: #94a3b8;
	--skyblue: #00a8f3;
	--tesla: #b0c4b1;
	--bgFooter: #4cc9f0;
}

.sessionShadow {
	box-shadow: 4px -4px 8px #d3fbff, -4px 4px 8px #a3c1da;
}

.sessionShadow:hover {
	box-shadow: inset 4px -4px 8px #d3fbff, inset -4px 4px 8px #a3c1da;
}
