@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	overflow-x: hidden;
	font-family: "taviraj";
	background-image: url("./images/cryo1.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.container {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	width: 100vw;
}

.h1 {
	position: relative;
	top: 6rem;
	font-size: 4.5rem;
	text-align: center;
}

.h1 span {
	position: relative;
	color: #111;
	animation: glowing 2.7s linear forwards;
}

@keyframes glowing {
	0%,
	100% {
		color: #fff;
		text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 30px #00b3ff,
			0 0 60px #00b3ff, 0 0 20px #00b3ff;
	}
	5%,
	95% {
		color: black;
		text-shadow: none;
	}
}

.h1 span:nth-child(1) {
	animation-delay: 1s;
}

.h1 span:nth-child(2) {
	animation-delay: 1.25s;
}

.h1 span:nth-child(3) {
	animation-delay: 1.5s;
}

.h1 span:nth-child(4) {
	animation-delay: 1.75s;
}

.h1 span:nth-child(5) {
	animation-delay: 2s;
}

.h1 span:nth-child(6) {
	animation-delay: 2.25s;
}

.h1 span:nth-child(7) {
	animation-delay: 2.5s;
}

.h1 span:nth-child(8) {
	animation-delay: 2.75s;
}
.h1 span:nth-child(10) {
	animation-delay: 3s;
}
.h1 span:nth-child(11) {
	animation-delay: 3.25s;
}
.h1 span:nth-child(12) {
	animation-delay: 3.5s;
}
.h1 span:nth-child(13) {
	animation-delay: 3.75s;
}
